# Force GitHub to detect PHP correctly

*.blade.php linguist-language=BLADE

# Ensure Laravel-specific files count as PHP
artisan linguist-detectable=true
server.php linguist-detectable=true

# Ignore frontend-related files (CSS, SCSS, JS, LESS)
*.scss linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.less linguist-vendored
*.map linguist-vendored

# Ignore assets and dependencies
public/* linguist-vendored
resources/assets/* linguist-vendored
resources/views/*.blade.php linguist-vendored
node_modules/* linguist-vendored
bootstrap/* linguist-vendored
storage/* linguist-vendored
vendor/* linguist-vendored
