# Force GitHub to detect PHP correctly
*.php linguist-language=php
*.blade.linguist-language=Blade
artisan linguist-detectable=true
server.php linguist-detectable=true

# Ignore frontend-related files
*.css linguist-vendored
*.html linguist-vendored
*.js linguist-vendored
public/* linguist-vendored
node_modules/* linguist-vendored
bootstrap/* linguist-vendored
storage/* linguist-vendored
vendor/* linguist-vendored

